/* close sign */
.close-sign {
  width: 28px;
  height: 28px;
  padding: 2px;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 40px;
  color: #302980;
  cursor: pointer;
}

/* update info button */
.btn-style-update {
  background-color: #ffad05;
  text-transform: uppercase;
  width: 236px;
  height: 40px;
  margin: 0;
  z-index: 99;
  position: absolute;
  top: 76px;
  right: 64px;
  border-style: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  color: #ffffff;
  padding: 8px 0;
  cursor: pointer;
}

/* header */
.recipe-header {
  margin: 90px 0px 26px 24px;
  font-size: 24px;
  font-weight: 600;
  color: #302980;
  line-height: 32px;
}

.product-header {
  margin: 52px 0px 8px 24px;
  font-size: 24px;
  font-weight: 600;
  color: #302980;
  line-height: 32px;
}

/* defining recipe table width */
.table-recipe > th {
  width: 250px;
}

.table-recipe > td {
  min-width: 300px;
}
