/* css style for edit page */
/* redeclaring box border */
.mixrecipe-create input,
.select__control {
  border-radius: 0 !important;
}

/* redeclaring modal box */
.mixrecipe-create .modal-content {
  width: 666px !important;
  border-radius: 20px !important;
}

input[readonly] {
  background-color: #cecdcd !important; /* Set the desired background color for readonly input */
}

/* css style for show page */
.show-table-first-mixrecipe > tbody > tr > th {
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #ff6e05 !important;
  width: 20%;
}

.show-table-first-mixrecipe > tbody > tr > td {
  width: 30%;
}

.show-table-last-mixrecipe > thead > tr > th {
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #ff6e05 !important;
  width: 33%;
}
