.recipe-content {
  display: flex;
  height: 100%;
  position: 'relative';
}

.recipe-sidebar {
  flex: 1;
}

.recipe-component {
  flex: 4;
}

/*  recipe comonent children margin right 20px*/
.recipe-component > * {
  margin-right: 20px;
}
