.page-close-position-t10-r160 {
  top: 10px;
  right: 160px;
}

.show-update-btn-position-t76-r160 {
  top: 76px;
  right: 160px;
}

.show-table-first-customer > tbody > tr > th {
  width: 22%;
}

.show-table-last-customer > thead > tr > th:nth-of-type(odd) {
  width: 23%;
}

/* .show-table-last-customer > thead > tr > th:nth-of-type(even) {
  width: 25%;
} */
