.header {
  padding-top: 45px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #302980;
}

.show-recipe,
.delete-recipe,
.edit-recipe {
  height: 28px;
  width: 28px;
}

.action-container {
  display: flex;
  gap: 12px; /* Adjust the gap value as needed */
}
