.page-close-position-t20-r160 {
  top: 20px;
  right: 160px;
}

.show-update-btn-position-t70-r166 {
  top: 70px;
  right: 166px;
}
.show-table-first-supplier > tbody > tr > th {
  width: 22%;
}

.show-table-last-supplier > thead > tr > th {
  width: 50%;
}
