.search-transition {
  transition: all 0.9s ease-in-out;
}

.bg-purple {
  background-color: #302980 !important;
  color: white !important;
}

.bg-purple:hover {
  background-color: #483eb6 !important;
  color: white !important;
}

/* Style-Customized */
.list-subheader {
  margin-top: 48px;
  margin-bottom: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  flex-basis: 60%;
}

.search-input-container {
  position: relative;
  /* box-shadow: 1px 1px 1px #00000033;
  border-radius: 12px !important; */
}

/* Search icon styles */
.search-icon {
  position: absolute;
  top: 50%;
  /* right: 10px; */
  transform: translateY(-50%);
  cursor: pointer;
}

.input-search {
  height: 48px;
}

/* Style-Customized */
.search-icon-customized {
  right: 38px !important;
}
.input-search-style-added {
  padding-left: 38px !important;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px !important;
}

.input-search::-webkit-input-placeholder {
  color: #00000038 !important;
}

.input-search::-moz-placeholder {
  color: #00000038 !important;
}

.input-search::-ms-placeholder {
  color: #00000038 !important;
}

.input-search::placeholder {
  color: #00000038 !important;
}

/* StockModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 2000; */
}

.stock-modal {
  background: white;
  margin-top: 120px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  min-width: 850px;
}

.stock-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-action {
  height: 28px;
  width: 28px;
}

.modal-action-archive {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.modal-action-container {
  display: flex;
  gap: 10px !important; /* Adjust the gap value as needed */
}
