.page-close-position-t10-r40 {
  top: 10px;
  right: 40px;
}

/* header top & bottom margin */
.my-46 {
  margin-top: 46px;
  margin-bottom: 46px;
}

/* redeclaring box border */
.mixrecipe-create input,
.select__control {
  border-radius: 0 !important;
}

/* redeclaring modal box */
.mixrecipe-create .modal-content {
  width: 666px !important;
  border-radius: 20px !important;
}

input[readonly] {
  background-color: #cecdcd !important; /* Set the desired background color for readonly input */
}
